#list {
  list-style: none;
  padding: 0;
  text-align: left;
}

#task-form-and-list {
  margin: auto;
  width: 50%;
  text-align: center;
}

.delete-button {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-size: 25px;
}

label {
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: space-between; /* Spread the content horizontally */
  font-size: 25px;
}

.strikethrough {
  text-decoration: line-through;
  color: rgba(100, 100, 100, 0.7);
}

label span {
  flex-grow: 1;
}

input[type="checkbox"] {
  margin-right: 50px;
  width: 25px;
  height: 25px;
}

#new-task-title {
  height: 50px;
  font-family: cursive;
  font-size: 30px;
  margin-left: 100px;
  margin-right: 100px;
}

#add-button {
  cursor: pointer;
  width: 100px;
  margin: 5px;
  justify-content: center;
}

#new-task-form {
  display: flex;
  /* align-items: center; */

  justify-content: center;
  flex-direction: column;
}
