body {
  overflow-x: hidden;
}

#list {
  list-style: none;
  padding: 0;
  text-align: left;
  /* animation: slideInTopList 0.75s ease-in 0.75s normal both; */
}

#task-form-and-list {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  text-align: center;
}

.delete-button {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-size: 25px;
}

li > label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  flex-flow: row;
}

.strikethrough {
  text-decoration: line-through;
  color: rgba(100, 100, 100, 0.7);
}

label span {
  flex-grow: 1;
  max-width: 800px;
  margin-right: 5px;
}

input[type="checkbox"] {
  margin-right: 5px;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}

#new-task-form {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  border-style: solid;
  border-radius: 15px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 1);
}
#title-dropdown {
  display: flex;
  flex-direction: row;
  align-self: center;
}
#new-task-title {
  font-family: cursive;
  font-size: 30px;
  border: 0;
  outline: none;
}

#priority-dropdown {
  height: 55.2px;
  font-family: cursive;
  font-size: 15px;
  width: 100px;
  border: 0px;
  outline: none;
}

#title-dropdown,
#add-button {
  display: flex;
  flex-direction: column;
}

#add-button:hover {
  background: rgba(63, 63, 63, 0.1);
}

#title-dropdown button.add-button-click {
  background: rgba(63, 63, 63, 0.2);
}

#add-button {
  cursor: pointer;
  width: 150px;
  font-size: 15px;
  margin: 5px;
  align-self: center;
  align-items: center;
  background: white;
  border-radius: 5px;
  padding: black;
}

@keyframes slideInTop {
  from {
    transform: translateY(-150px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideInTopList {
  from {
    transform: translateY(1000px);
  }

  to {
    transform: translateY(0);
  }
}
#outer-header-container {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
  height: 15dvh;
  z-index: 1;
}

@media (max-width: 768px) {
  /* Adjust the height for smaller screens */
  #outer-header-container {
    height: 10vh; /* You can change this value as needed */
  }
}

@media (max-width: 480px) {
  /* Further adjust the height for even smaller screens */
  #outer-header-container {
    height: 5vh; /* You can change this value as needed */
  }
}

#title-dropdown {
  animation: slideInTop 0.75s ease-in 0.25s normal both;
}

#list {
  animation: slideInTopList 0.75s ease-in 0.25s normal both;
}

.title-form-focused {
  border-color: rgba(63, 63, 63, 0.737);
}

.title-form-empty {
  border-color: rgba(250, 11, 11, 0.749);
}
